* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px 50px;
  }
  
  
  
  
  nav {
    display: flex;
    align-items: center;
  }
  
  h1 {
    color: black;
  }
  
  ul {
    display: flex;
    list-style: none;
  }
  
  li {
    margin-left: 30px;
  }
  
  a {
    font-size: 25px;
    color: black;
    transition: all 0.2s ease-in-out;
  }
